
li a:hover {
  background-color: lightgrey;
  border-radius: 10px;
  color: black;
  text-decoration:none;}
body {
  background-color: #14274e;}
.navbar {
  min-height: 90px;}

.navbar-toggler {
  background-color: darkgrey;}
#navlogo {
  width: 50%;}
.navtext {
  color: black;
  display: block;
  padding: 0.5rem 1rem;}
.nav.navbar-nav li a {
  color: #fff;}
.imgB {
  position: relative;
  right: 0;
  left: 0;
  margin-top: 70px;
  border-radius: 0 0 125px 125px;
  background-size: contain;
  height: 46vw;
  background-image: url("../images/hotelimg1.jpg");
  text-align: center;}
button.mfp-close {
    background-color: white !important;
    right: 20%;
  border-radius: 50%;}

.intro-title {
  padding: 3px 13px 3px 13px;
  border: double 6px lightgrey;
  display: inline-block;
  border-radius: 13px 13px 13px 13px;
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
}
#noblur {
  position: relative;
  font-family: 'Heebo';
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 2.3rem;
}
.content {
  text-align: center;}
.mfp-hide {
  display: none !important;}
iframe {
  margin-left:20%;}
#noblur:hover {
  color: lightgrey;}
.circles-area {
  padding-top: 180px;
}
.partnerlogos {
  position: relative;
  padding: 120px 300px 100px 200px;
}
#anyapp{
  position: relative;
  height: 120px;
  width: 360px;
  margin-left: 120px;}

#startplan {
  position: relative;
  margin-right: 140px;}

.Circle{
  position: relative;
  border: solid 3px lightgrey;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: inline-table;
  margin: 20px 30px;
  background-color: rgba(0,0,0, 0.5);
  text-align: center;}
.Textround {
  color: white;
  font-family: 'Heebo';
}
.Textround span {
    display: block;
    font-size: 25px;
    line-height: 30px;
    padding: 0 18px;
}
.Textround:hover {
  color: lightgrey;
  text-decoration: none;}
.circle:hover{
  border:solid white 10px;}
.Textincircle i {
    font-size: 55px;
    margin-bottom: 14px;
    padding-top: 20%;
}
.Textround span {
    display: block;
}
.fa-coins {
  color: gold;
}
.fa-leaf {
  color: lightgreen;
}
.fa-users{
  color:lightblue;
}
.SecondDiv {
  padding-bottom: 2vw;
  padding-top: 2vw;}
.UxImg {
  position: relative;
  height: 35vw;
  width: auto;
  left: 25%;
  }
#UxTxt {
    position: relative;
    color: white;
    font-family: 'Heebo';
    font-size: 40px;
    margin-bottom: 22px;
    display: block;
    margin-left: 25px;
}
p {
  color: white;
  position: relative;
  font-family: 'Heebo';
  font-size: 1.2rem;
  margin-left: 25px;
}
.fa-play-circle{
  padding-left: 13px;}
.myButton {
  box-shadow:inset -50px 50px 25px 18px #30B700;
  background:linear-gradient(to bottom, #30B700 5%, #30B700 100%);
  background-color:#30B700 !important;
  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  position: relative;
  color:#ffffff;
  right: 20% !important;
  margin:35px 0 15px 25%;
  font-family: 'Heebo';
  font-size:16px;
  padding:15px 70px;
  text-decoration:none;
  text-shadow:0px 0px 15px #263666;}
.myButton:hover {
  text-decoration:none;
  background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color:#0688fa;}
.myButton:active {
  position:relative;
  bottom: 1px;}
.slideSection {
  background-color: snow;
  width: 100%;}
.slidDiv{
  border-top: solid black 5px;
  border-bottom:  solid black 5px;
  height: auto;}
#lenImg {
  object-fit: cover;
  object-position:0 -360px;
  height: 700px;}
.partnerDiv {
  height: auto;
  text-align: center;
  background-color: #14274e;}
#partnerHtxt {
  display: inline-block;
  color: white;
  position: relative;
  top: 50px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: 'Heebo';
  text-transform: uppercase;}
.txtSlidH {
  position: absolute;
  top: 60px;
  text-decoration: underline;
  text-transform: uppercase;
  left: 180px;
  color: black;
  font-family: 'Heebo';
  font-weight: bold;
  font-size: 80px;}

.txtSlidB {
  position: absolute;
  margin-right: 900px;
  top: 230px;
  left: 180px;
  color: black;
  font-family: 'Heebo';
  font-size: 40px;
  z-index: 2;}
.txtbrkslide {
  position: absolute;
  margin-right: 900px;
  top: 230px;
  left: 180px;
  color: black;
  font-family: 'Heebo';
  font-size: 40px;
  z-index: 2;}


  .txtmalslide {
    position: absolute;
    margin-right: 900px;
    top: 230px;
    left: 180px;
    color: white;
    font-family: 'Heebo';
    font-size: 40px;
    z-index: 2;
    padding: 20px;
    background-color: rgba(0,0,0, 0.5);
  border-radius: 10% 10%;}
#lenUXimg {
  max-width: 20%;
  max-height: 95%;
  position: absolute;
  right: 300px;
  transform: rotate(10deg);
  top: 180px;
  z-index: 1;}
#breakfastImg {
  object-fit: cover;
  height: 700px;}

/*=========Fixes===========*/
.py-space {
  padding: 120px 0 160px;}

/*=========Responsive==========*/

@media(max-width: 1440px) {

  .circles-area {
    padding-top: 0px;
  }

  #lenImg {
    object-fit: cover;
    object-position: 0 -160px;
    height: 500px;}
  #breakfastImg{
    height: 500px;}
  #lenUXimg {
    right: 150px;
    top: 130px;}
  .Circle {
    height: 220px;
    width: 220px;
  }
  .Textincircle i {
    font-size: 45px;
  }
  .Textround span {
    font-size: 20px;
    line-height: 25px;
  }
  .txtSlidB {
    margin-right: 500px;
    top: 160px;
    font-size: 30px;}

    .txtbrkslide {
      margin-right: 500px;
      top: 160px;
      font-size: 30px;}

  .txtmalslide {
        margin-right: 500px;
        top: 160px;
        padding: 5px 7px;
        font-size: 30px;}
  .txtSlidH {
    position: absolute;
    top: 90px;
    text-decoration: underline;
    text-transform: uppercase;
    left: 170px;
    color: black;
    font-family: 'Heebo';
    font-weight: bold;
    font-size: 40px;}

    }

@media (max-width: 1280px) {
  #lenImg {
    object-fit: cover;
    object-position: 0 -50px;
  }
  #lenUXimg {
    transform: none;
    height: 45vw;
    top: 180px;}

  .circles-area {
    padding-top: 0px;}
    .txtSlidH {
      position: absolute;
      top: 160px;
      text-decoration: underline;
      text-transform: uppercase;
      left: 150px;
      color: black;
      font-family: 'Heebo';
      font-weight: bold;
      font-size: 40px;}

    .txtSlidB {
      position: absolute;
      top: 230px;
      left: 110px;
      margin-right: 490px;
      line-height: 200%;
      color: black;
      font-family: 'Heebo';
      font-size: 1.6rem;
      z-index: 2;
      font-weight: normal;}

    .txtbrkslide {
      position: absolute;
      top: 230px;
      left: 110px;
      margin-right: 490px;
      line-height: 200%;
      color: black;
      font-family: 'Heebo';
      font-size: 1.6rem;
      z-index: 2;
      font-weight: bold;}

      .txtmalslide {
        position: absolute;
        top: 230px;
        left: 110px;
        margin-right: 490px;
        line-height: 200%;
        color: white;
        font-family: 'Heebo';
        font-size: 1.6rem;
        z-index: 2;
        font-weight: bold;}

  iframe {
    margin-left:0;}
    .circles-area {
      padding-top: 0;}

}

@media(max-width: 1024px){

  .circles-area {
    padding-top: 0;
  }
  #lenUXimg {
    z-index: -1;
    visibility: hidden;}

  .txtSlidH {
    float: none;
    left: auto;
    top: 15%;
    right: 30%;
    text-align: center;}

    #lenImg {
      height: auto;
      object-position: 0 -20px;
    }

  .ulslide {
    text-align: left;}
  .txtSlidH {
    text-align: center;
    top: 20px;}
  .txtSlidB {
    left: auto;
    right: auto;
    float: none;
    top: 80px;
    line-height: 2;
    margin: 0 50px;
    font-size: 1.9rem;
    padding: 0 50px;
    text-align: left;
    border: solid black 3px;
    border-radius: 5%;}

    .txtbrkslide {
      left: auto;
      right: auto;
      float: none;
      top: 80px;
      line-height: 2;
      margin: 0 50px;
      font-size: 1.9rem;
      padding: 0 50px;
      text-align: left;
      border: solid black 3px;
      border-radius: 5%;}

      .txtmalslide {
        left: auto;
        right: auto;
        float: none;
        top: 80px;
        line-height: 2;
        margin: 0 50px;
        font-size: 1.9rem;
        padding: 0 50px;
        text-align: left;
        border: solid black 3px;
        border-radius: 5%;}

  #noblur {
    font-size: 1.6rem;
  }
  .Circle {
    height: 180px;
    width: 180px;
    margin: 10px 15px;
  }
  .imgB {
    background-repeat: no-repeat;
    background-size: cover;
    height: 56vw;
  }
  #UxTxt {
    font-size: 30px;
  }
  p {
    font-size: 1rem;
  }
  .UxImg {
    height: 60vw;
  }
}

@media(max-width: 480px) {
    .navbar-dark .navbar-brand {
    max-width: 80%;
  }
    .imgB {
    height: 100vh;
  }
   #noblur {
    font-size: 1.2rem;}
   .circles-area {
    padding-top: 25px;
  }
   #lenImg {
    filter: blur(2px);
    object-fit: cover;
    object-position: 0 0 ;
    height: 500px;}
   #breakfastImg {
  filter: blur(2px);
  object-fit: cover;
  object-position: 0 0 ;
  height: 500px;
}
    .slide1text{
    border: solid black 2px;
    border-radius: 5%;}
  .txtSlidB {
    left: auto;
    top: 120px;
    right: auto;
    float: none;
    line-height: 2;
    margin: 0 50px;
    font-size: 21px;
    padding: 0 0px;
    text-align: center;
  }
  .txtSlidH {
    font-size: 30px;
    top: 60px;
    float: none;
    padding: 0;
    right: 0;
    left: 0;
    text-align: center;}
  .py-space {
    padding: 80px 0 140px;
  }
  .Textround span {
      font-size: 17px;
      line-height: 22px;
  }
  .ulslide {
    padding-top: 5px;
    text-align: left;
  }
  #UxTxt {
      font-size: 25px;
      text-align: center;
  }
  .SecondDiv p {
    text-align: center;
  }
  .UxImg {
      height: 80vw;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
  }
  #videostory {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    max-width: unset !important;
  }
  button.mfp-close {
    right: 0;
    margin-top: -50px;
  }
  .Circle {
    margin: 5px 15px;
    height: 170px;
    width: 170px;
  }
  .myButton {
    right: 0 !important;
    margin: 35px 0 30px;
  }
  .txtbrkslide {
    left: auto;
    top: 120px;
    right: auto;
    float: none;
    line-height: 1.7;
    margin: 0 50px;
    font-size: 21px;
    padding: 0 0px;
    text-align: left;
  }
  .txtmalslide {
    left: auto;
    top: 120px;
    right: auto;
    float: none;
    line-height: 1.7;
    margin: 0 50px;
    font-size: 21px;
    padding: 0 0px;
    text-align: left;
  }
}
